@function assign($inputs, $pseudo: false) {
  $list : ();

  @each $input in $inputs {
    $input: unquote($input);
    $input: if($pseudo, $input + ":" + $pseudo, $input);
    $list: append($list, $input, comma);
  }

  @return $list;
}

$form-inputs-list: 'input[type="email"]', 'input[type="number"]',
                   'input[type="password"]',
                   'input[type="search"]',
                   'input[type="tel"]',
                   'input[type="text"]',
                   'input[type="url"]',

                   // Webkit & Gecko may change the display of these in the future
                   'input[type="color"]',
                   'input[type="date"]',
                   'input[type="datetime"]',
                   'input[type="datetime-local"]',
                   'input[type="month"]',
                   'input[type="time"]',
                   'input[type="week"]';

$form-inputs-button-list: 'input[type="button"]',
                          'input[type="reset"]',
                          'input[type="submit"]';

$form-inputs-text: assign($form-inputs-list);
$form-inputs-text-focus: assign($form-inputs-list, 'focus');
$form-inputs-text-hover: assign($form-inputs-list, 'hover');

$form-inputs-button: assign($form-inputs-button-list);
$form-inputs-button-focus: assign($form-inputs-button-list, 'focus');
$form-inputs-button-hover: assign($form-inputs-button-list, 'hover');